header {
    display: flex;
}

header ul{
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 0px;

}

header ul li{
    display: inline;
    padding: 10px;
}

header ul li a, header ul li a:active, header ul li a:visited{
    color: #c00;
    text-decoration: none;
}

header ul li a:hover{
    text-decoration: underline;
    color: #000;
}

header h1{
    margin: 10px;
}