ul.AlbumsList {
    list-style-type: none;
}

ul.AlbumsList li.AlbumsListItem{
    padding: 10px;
    border: solid 1px #ccc;
    margin: 10px 0px;
    border-radius: 10px;
    clear: both;
    height: 50px;
}

ul.AlbumsList li.AlbumsListItem:hover{
    background-color: #efefef;
}

.AlbumsList .AlbumsListItem img{
    float: left;
    height: 50px;
}

.AlbumsList .AlbumsListItem h3.AlbumsListItemText {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}