ul.AlbumsList{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.AlbumsList a, ul.AlbumList a:visited, ul.AlbumList a:active{
    text-decoration: none;
    color: #555;
}

ul.AlbumsList a:hover{
    color: #000;
    text-decoration: underline;
}

ul.AlbumsList li.AlbumsListItem{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #fff;
    min-height: 100px;
}

ul.AlbumsList li.AlbumsListItem:hover{
    border-radius: 5px;
    border: solid 1px #ccc;
    background-color: #efefef;
}

ul.AlbumsList li.AlbumsListItem img{
    width: 100px;
    float: left;
}

ul.AlbumsList li.AlbumsListItem div.AlbumListContent{
    margin-left: 110px;
}

ul.AlbumsList li.AlbumsListItem h3{
    margin: 0px;
    padding: 0px;
}

ul.AlbumsList li.AlbumsListItem h4{
    margin: 10px 0px;
    padding: 0px;
}

ul.AlbumsList li.AlbumsListItem h5{
    margin: 2px 0px;
    padding: 0px;
    float: right;
}