.albumListItem{
    .albumInfo{
        display: flex;
        align-items: center;
        padding: 10px;
        min-height: 100px;
        gap: 20px;
        margin: 10px 0px;

        .imageContainer img {
            width: 100px;
            height: 100px;
        }

        .infoContainer{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .h2, .h4 {
            margin: 5px 0px;
            padding: 0px;
        }
    }
}

.albumListItem:hover{
    border-radius: 10px;
    //border: solid 1px #ccc;
    background-color: #efefef;
}